.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  width: 250px;
  margin: 10px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(227, 178, 31);
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  height: auto; /* expand to full height on hover */
  overflow: auto; /* show scrollbar if content is still too long */
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 50%;
    margin-right: 2px;
  }

  .card:not(.highlight-card) {
    height: 40px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

i {
  font-size: 20px;
  color: #ff0000;
  float: right;
  cursor: pointer;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-top: 0;
} */
